body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background: #d32f2f;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
}
